body form{
  display: block;
  width: 50%;
  margin: auto;
  border: 1px solid black;
  background-image: linear-gradient(orange, white, green);
  transition: all 0.5s ease;
}

body form:hover{
  box-shadow: 10px 10px 15px lightgray;
}

form .display{
  width: 50%;
  margin: 20px;
  padding: 5px 10px;
  border-radius: 5px;
}

.btnDesign{
  margin: 10px 30px;
  padding : 10px 20px; 
  cursor: pointer;
}

.ObtnDesign{
  margin: 10px 30px;
  padding: 10px 15px;
  border-radius: 100%;
}
